html, body {
  margin: 0;
  padding: 0;
  margin-left: 150px;
  margin-right: 5px;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 1px;
  padding-left: 70px;
  background-color: cornsilk;
}

canvas {
  display: block;
  box-shadow: 10px 3px 3px black;
  border: 1px solid black;
}

button {
  /* background color of button */
  box-shadow: 5px 3px 3px black;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  margin: 1px;
  font-size: 20px;
  font-family: 'Trebushet MS';
  font-weight: bold;
}